*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{
  background: #FF0099;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #493240, #FF0099);  
  background: linear-gradient(to left, #493240, #FF0099);
  font-family: 'nunito', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: azure;
}
header{
  font-size: 2.5rem;
}
header, form{
   min-height: 20vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

form input, form button{
   padding: 0.5rem;
   border: none;
   background: azure;
   font-size: 1.2rem ;
   outline: none;
}
form button{
   cursor: pointer;
   color:#FF0099;
   background: azure;
   transition: all 0.6s ease;
}
form button:hover{
  background:#FF0099;
  color: azure;
}

.todo-container{
  display: flex;
  justify-content: center;
  align-items: center;

}
.todo-list{
  min-width: 30%;
  list-style: none;
}
.todo{
  margin:0.5rem;
  background: azure;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s all ease;
}
.todo li{
  flex: 1;
}
.trash-btn, .completed-btn{
  background: #FF0099;
  color: azure;
  border: none;
  padding:0.8rem;
  cursor: pointer;
  font-size: 0.7rem;
}
.completed-btn{
  background: #493240;
}
.todo-item{
  padding: 0 0.5rem;
}
fa-trash, fa-check{
  pointer-events: none;
}
.completed{
  text-decoration: line-through;
  opacity: 0.7;
}
.fall{
  transform: translateY(7rem) rotateZ(20deg);
  opacity: 0;
}
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select{
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select{
  color: #FF0099;
  width: 10rem;
  cursor: pointer;
  padding: 0.6rem;
}
.select::after{
  content: '\25BC';
  position: absolute;
  background: azure;
  color: #FF0099;
  top: 0;
  right: 0;
  padding: 0.6rem;
  pointer-events: none;
  transition: all 0.5s ease;
}
.select:hover::after{
  background:#FF0099;
  color: azure;
}